{% extends "student/blank.html" %}
{% block body %}
{#<p><a href="/student_add_password">change password</a></p>#}
{#<p><a href="/student_view_note">download  notes</a></p>#}
{#<p><a href="#">academic view calender</a></p>#}
{#<p><a href="/student_view_profile">profile view</a></p>#}
{#<p><a href="/student_view_timetable">time table</a></p>#}
{#<p><a href="/student_send_feedback">send feedback</a></p>#}
{#<p><a href="student_view_internal_mark">result</a></p>#}
{#<p><a href="student_view_attendance">attendance</a></p>#}
<p><a href="#">chat with staff</a></p>
<p><a href="/student_send_complaint">send complaints</a></p>
<p><a href="/student_view_complaint">view complaints</a></p>
<p><a href="/student_view_notification">notification view</a></p>
{#<p><a href="/student_viewpunishment">notification view</a></p>#}
{% endblock %}