{% extends "student/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <td>*</td>
      <td>title</td>
      <td>content</td>
        <td>date</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['title'] }}</td>
      <td>&nbsp;{{ i['content'] }}</td>
        <td>{{ i['date'] }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
