{% extends "staff/blank.html" %}
{% block body %}

<a href="/staff_add_password">change password</a><br>
<a href="/staff_viewnotification">View notification</a>  <br>
<a href="/staff_viewassignedsubject">View Assigned Subject</a>  <br>
<a href="/staff_add_notes">add notes</a>  <br>
<a href="/staff_view_student">view students</a>  <br>
<a href="/staff_view_note">view notes</a>  <br>
<a href="/staff_send_feedback">send feedback</a>  <br>
<a href="/staff_view_timetable">view time table</a>  <br>
<a href="/staff_view_punishment">view punishment</a>  <br>

{% endblock %}