{% extends "admin/adminblank.html" %}
{% block body %}
<p><a href="/admin_add_password">change password</a>
</p>
<p><a href="/admin_add_subadmin">sub admin management</a></p>
<p><a href="/admin_view_subadmin">sub admin view</a></p>
<p><a href="/admin_add_dept">department management</a></p>
<p><a href="admin_view_dept"> view department management</a></p>
<p><a href="/admin_add_course">course management</a></p>
<p><a href="/admin_view_couse">view course</a></p>
<p><a href="/admin_add_hod_assign">hod assign</a></p>
<p><a href="/admin_view_hod_assign">view hod</a></p>
<p><a href="/admin_add_punishment">punishment management</a></p>
<p><a href="/admin_view_punishment">view punishment</a></p>
<p><a href="/admin_add_fee">fee management</a></p>
<p><a href="/admin_view_fee">view fee</a></p>
{% endblock %}
