{% extends "admin/adminblank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_add_password_post">
  <table class="table table-bordered">
    <tr>
      <th>current password</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <th>new password</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <th>confirm password</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="change" class="btn  btn-success" /></td>
    </tr>
  </table>
</form>

{% endblock %}