{% extends "admin/adminblank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_add_course_search_post">
  <table width="200" border="1" class="table table-bordered">
    <tr>

      <td><label for="textfield"></label>Department Name
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-success" /></td>
    </tr>
  </table>
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <td>*</td>
      <td>Department</td>
      <td>Course code</td>
      <td>Course name</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["department_name"] }}</td>
      <td>&nbsp;{{ i["course_code" ]}}</td>
      <td>{{ i["course_name"] }}</td>
      <td><a href="/admin_edits_course/{{ i['course_id'] }}" class="btn btn-success">EDIT</a></td>
      <td><a href="/admin_delete_course/{{ i['course_id'] }}" class="btn btn-success">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

{% endblock %}