{% extends "subadmin/blank.html" %}
{% block body %}
<p><a href="/subadmin_add_password">change password</a></p>
<p><a href="/subadmin_add_notification">notification management</a></p>
<p><a href="/subadmin_view_notification"> view notification</a></p>
<p><a href="/subadmin_add_staff">staff management</a></p>
<p><a href="/subadmin_view_staff">view staff </a></p>
<p><a href="/subadmin_add_student">student management</a></p>
<p><a href="/subadmin_view_student">view student </a></p>
<p><a href="/subadmin_add_punishment">punishment management</a></p>
<p><a href="/subadmin_view_punishment">view punishment </a></p>

{% endblock %}
