{% extends "hod/blank.html" %}
{% block body %}
<p><a href="/hod_change_password">change password</a></p>
<p><a href="/hod_view_staff">staff view</a></p>
<p><a href="/hod_add_subject">subject management</a></p>
<p><a href="/hod_view_subject">view subject</a></p>
<p><a href="/hod_add_staff_subject_allocation"> add staff subject allocation</a></p>
<p><a href="/hod_view_staff_subject_allocation">view subject allocation</a></p>
<p><a href="/hod_add_timetable">time table</a></p>
<p><a href="/hod_add_complaints">Send complaints</a></p>
<p><a href="/hod_view_complaint">View Complaints</a></p>
<p><a href="/hod_add_notification">notification</a></p>
<p><a href="/hod_add_feedback">feedback</a></p>

{% endblock %}
