{% extends "hod/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/hod_add_staff_subject_allocation_post">
  <table width="200" border="1">
    <tr>
      <td>staff</td>
      <td><select name="textfield">
    <option>--select--</option>
        {% for i in res1 %}
        <option value="{{ i['staff_id'] }}">{{ i['staff_name'] }}</option>
        {% endfor %}
    </select></td>
    </tr>
    <tr>
      <td>course</td>
    <td><select name="textfield1">
    <option>--select--</option>
        {% for i in data %}
        <option value="{{ i['course_id'] }}">{{ i['course_name'] }}</option>
        {% endfor %}
    </select></td>
    <tr>
      <td>semester</td>
     <td><select name="textfield2">
    <option>--select--</option>

         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
         <option value="6">6</option>

    </select></td>
    </tr>
    <tr>
      <td>subject</td>
      <td><select name="textfield3">
    <option>--select--</option>
        {% for i in res2 %}
        <option value="{{ i['sub_id'] }}">{{ i['sub_name'] }}</option>
        {% endfor %}
    </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="save" /></td>
    </tr>
  </table>
</form>
{% endblock %}