{% extends "hod/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/hod_view_subject_search">
  <table class="table table-bordered">
    <tr>
      <td>Course</td>
        <td><select name="select" class="form-control">
            {% for i in data1 %}
            <option value="{{ i['course_name'] }}">{{ i['course_name'] }}</option>
            {% endfor %}

        </select></td>
        <td>
        <input type="submit" name="s1" value="SEARCH" class="btn btn-success"/></td>
    </tr>
  </table>
  <table width="200" border="1" CLASS="table table-bordered">
    <tr>
      <td>#</td>
        <td>Course</td>
      <td>Semester</td>
      <td>Subject code</td>
      <td>Subject name</td>
      <td colspan="2"></td>
    </tr>
      {% for i in data %}
    <tr>
        <td>{{ loop.index }}</td>
      <td>{{ i['course_name'] }}</td>
      <td>{{ i['sem'] }}</td>
      <td>{{ i['sub_code'] }}</td>
      <td>{{ i['sub_name'] }}</td>
      <td><p><a href="/edit_subject/{{ i['sub_id'] }}" class="btn btn-success">EDIT</a></p></td>
      <td><p><a href="/delete_subject/{{ i['sub_id'] }}" CLASS="btn btn-success" onclick="return confirm('Do you want to delete this?')">DELETE</a></p></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

{% endblock %}